<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <h1> Jacob Schumann</h1>
	<div id="wrapper">
		<%- include('../partials/header') %>
		<%- include('../partials/navigation') %>
			<main>
				<%- body %>
			</main>
			<%- include('../partials/footer') %>
	</div>
</body> 
</html>
